{{!-- Each burger must be generated with a button that says
"MUNCH IT" --}}

<li>
	{{burger_name}}

	{{!-- should only show button if burger is not devoured --}}
	{{#unless devoured}}
	<button class="change-devour" id="btn" data-id="{{id}}" data-munch="{{true}}">
		MUNCH IT!
		{{!-- don't think we need an else/if because it won't switch back and forth --}}
	</button>
	{{/unless}}
</li>